body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;

    letter-spacing: 1.2px;
    background-color: var(--offwhite);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: 0;
    }

    h3 svg {
        height: 1.5rem;
        margin-bottom: -0.4rem;
    }
}

section {
    padding-bottom: 2rem;
}

button.plain {
    background: none;
    border: none;
    cursor: pointer;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #f0f0f0;
}

#loading h1 {
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

#standings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#west,
#east {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

@media (min-width: 600px) {
    #standings {
        flex-direction: row;
        /* align to top */
        align-items: flex-start;
    }

    #west {
        padding-right: 1rem;
        border-right: 1px solid black;
    }

    #east {
        padding-left: 1rem;
    }
}


#west h4,
#east h4 {
    font-size: 1.5rem;
}

#west table,
#east table {
    width: 100%;
    border-collapse: collapse;
}

#west table th,
#east table th {
    border-bottom: 1px solid black;
}

#west table td,
#east table td {
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

#west table td:first-child,
#east table td:first-child {
    text-align: left;
}

#west table td:last-child,
#east table td:last-child {
    text-align: right;
}

#future-games {
    width: 100%;
    text-align: center;
}

#future-games table {
    width: 100%;
    border-collapse: collapse;
}

#future-games table th {
    border-bottom: 1px solid black;
}

#future-games table td {
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

#future-games .forecast-team {
    display: inline-block;
    text-align: left;
    width: 5rem;
}

.playoffs {
    font-weight: bold;
}
